*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
    background-color: #3d3d3d;
}

.container{
    width: 1000px;
    height: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 400px;
    padding-top: 20px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90px;
    height: 90px;
    background-color: #00b894;
    border-radius: 10px;
}