*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
    height: 100vh;
    background-color: #3d3d3d;
}

.container{
    width: 700px;
    height: 100%;
    overflow-y: auto;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
}

.container::-webkit-scrollbar{
    display: none;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    background-color: #00b894;
    border-radius: 10px;
}